<!DOCTYPE html>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<html>
    <head>
        <title>My Web Server</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?20211207">
    </head>
<body>
<div>

    <div class="vertical-menu">
      <a href="#" class="active">Home</a>
        {% for text, link in links.items() %}
            <a href="{{ link }}">{{ text }}</a>
        {% endfor %}
    </div>
</div>


{% if filters != None  %}
    <div style="margin-left:20%;margin-top:3%;border: 2px;">
        <form method="POST">
            <label for="filters">Filters</label>
            <input type="text" id="filters" name="filters">
            <input type="submit">
        </form>
    </div>
{% endif %}


{% if image != None  %}
    <div style="margin-left:20%;margin-top:3%;border: 2px;">
        <img src="{{ url_for('static', filename='tmp/' + image[0]) }}?{{ code }}" alt="{{ image[1] }}" style="max-width:1000px;border: 5px solid #555;">
    </div>
{% endif %}


{% if html_string != None  %}
    <div style="margin-left:20%;margin-top:3%;border: 2px;">
        {{ html_string | safe }}
    </div>
{% endif %}

</body>
</html>